{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link rel="shortcut icon" href="{% static 'assets/images/college.svg' %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>CSS</title>
<!--

Lava Landing Page

https://templatemo.com/tm-540-lava-landing-page

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'app/assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-lava.css' %}">

    <link rel="stylesheet" href="{% static 'app/assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'app/mycustom.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
    <!-- ***** Preloader End ***** -->

      <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index'%}" class="logo">
                           <span class="logom">CSS</span>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                         
                          
                            <li class="submenu">
                                <a href="javascript:;">File</a>
                                <ul>
                                    <li><a href="{% url 'encrypt_file' %}">Encrypt</a></li>
                                    <li><a href="{% url 'decrypt_file' %}">Decrypt</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{% url 'mono' %}">Caesar Cipher</a></li>
                            <li class="scroll-to-section"><a href="{% url 'poly' %}">Vigenere Cipher</a></li>

                            
                            <li class="submenu">
                                <a href="javascript:;">Hash Algorithms</a>
                                <ul>

                                    <li><a href="{% url 'hash' 'sha256' %}">sha256</a></li>
                                    <li><a href="{% url 'hash' 'sha384' %}">sha384</a></li>
                                    <li><a href="{% url 'hash' 'sha224' %}">sha224</a></li>
                                    <li><a href="{% url 'hash' 'sha512' %}">sha512</a></li>
                                    <li><a href="{% url 'hash' 'sha1' %}">sha1</a></li>
                                    <li><a href="{% url 'hash' 'md5' %}">md5</a></li>

                                </ul>
                            </li>

                            
                            
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div style="margin-top: 100px;">
        {% include 'app/messages.html' %}
    </div>
    
