{% include 'app/header.html' %}
{% load static %}


    <!-- ***** Header Area End ***** -->

<!-- {% if tab == 1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#about').offset().top
    }, 'slow');
});
</script>
{% endif %} -->

 <style> 
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fba70b;
    margin: 5%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 4.25%;
    transition: 0.3s;
    font-size: 17px;
   
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f4813f;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #d15f13;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    margin-left:5%;
    margin-right: 5%;
  }

  .tabcontent h3 {
      color: #d15f13;
  }
  </style>


<div class="welcome-area" id="welcome">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
            
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            
                    <h1>Web<em>Cryptography</em></h1>
                     
                      
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>

    
<!--

  <div class="tab">
    <button class="tablinks" onload="openCity(event, 'All')" onclick="openCity(event, 'All')">All</button>
    <button class="tablinks" onclick="openCity(event, 'Dance')">Dance</button>
    <button class="tablinks" onclick="openCity(event, 'Happy')">Happy</button>
    <button class="tablinks" onclick="openCity(event, 'Inspirational')">Inspirational</button>
    <button class="tablinks" onclick="openCity(event, 'Rock')">Rock</button>
    <button class="tablinks" onclick="openCity(event, 'Classical')">Classical</button>
    <button class="tablinks" onclick="openCity(event, 'Romantic')">Romantic</button>
    <button class="tablinks" onclick="openCity(event, 'Sad')">Sad</button>
  </div>

  

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
      <div class="container">
  
 


    <!-- ***** Testimonials Starts ***** -->
    </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; Himali Saini </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  

    <!-- jQuery -->
    <script src="{% static 'app/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'app/assets/js/popper.js' %}"></script>
    <script src="{% static 'app/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'app/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'app/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'app/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'app/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'app/assets/js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'app/assets/js/custom.js' %}"></script>
    <script src="{% static 'app/mycustom.js' %}"></script>
  

</body>
</html>