{% include 'app/header.html' %}
{% load static %}

<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
svg:not(:root) {
    overflow: hidden;
}
/*////////////////////////toggle button//////////////////*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*///////////////////Upload song//////////////////*/
.main-wrapper {
    max-width: 1170px;
    
    text-align: center;
}
.upload-main-wrapper{
    width: 220px;
    margin: 0 auto;
    
}
#file-upload-name{
    margin: 4px 0 0 0;
    font-size: 12px;
}
.upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px auto 0;
    position: relative;
    cursor: pointer;
    background-color: #f4813f;
    padding: 8px 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s linear all;
    color: #ffffff;
    padding: 5%
}
.upload-wrapper input[type="file"] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
}
.upload-wrapper > svg {
    width: 50px;
    height: auto;
    cursor: pointer;
}
.upload-wrapper.success > svg{
    transform: translateX(-200px);
}
.upload-wrapper.uploaded {
    transition: 0.2s linear all;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    text-align: center;
}
.upload-wrapper .file-upload-text {
    position: absolute;
    left: 80px;
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear all;
}
.upload-wrapper.uploaded .file-upload-text {
    text-indent: -999px;
    margin: 0;
}
.file-success-text {
    opacity: 0;
    transition: 0.2s linear all;
    visibility: hidden;
    transform: translateX(200px);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-success-text svg {
    width: 25px;
    height: auto;
}
.file-success-text span{
   margin-left: 15px;
}
.upload-wrapper.success .file-success-text{
    opacity: 1;
    visibility: visible;
    transform: none;
}
.upload-wrapper.success.uploaded .file-success-text{
    opacity: 1;
    visibility: visible;
    transform: none;
}
.upload-wrapper.success.uploaded .file-success-text span{
    display: none;
}
.upload-wrapper .file-success-text circle{
	  stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transition: 1s linear all;
    transition-delay: 1.4s;
}
.upload-wrapper.success .file-success-text  circle {
	stroke-dashoffset: 0;
}
.upload-wrapper .file-success-text polyline {
	stroke-dasharray: 380;
	stroke-dashoffset: 380;
	transition: 1s linear all;
	transition-delay: 2s;
}
.upload-wrapper.success .file-success-text polyline {
    stroke-dashoffset: 0;
}
.upload-wrapper.success .file-upload-text{
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*//////////////////////////Upload Cover Picture//////////////////*/
#cover-upload-name{
    margin: 4px 0 0 0;
    font-size: 12px;
}
.upload-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px auto 0;
    position: relative;
    cursor: pointer;
    background-color: #f4813f;
    padding: 8px 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s linear all;
    color: #ffffff;
    padding: 5%
}
.upload-wrapper2 input[type="file"] {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
}
.upload-wrapper2 > svg {
    width: 50px;
    height: auto;
    cursor: pointer;
}
.upload-wrapper2.success > svg{
    transform: translateX(-200px);
}
.upload-wrapper2.uploaded {
    transition: 0.2s linear all;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    text-align: center;
}
.upload-wrapper2 .cover-upload-text {
    position: absolute;
    left: 80px;
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear all;
}
.upload-wrapper2.uploaded .cover-upload-text {
    text-indent: -999px;
    margin: 0;
}
.cover-success-text {
    opacity: 0;
    transition: 0.2s linear all;
    visibility: hidden;
    transform: translateX(200px);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover-success-text svg {
    width: 25px;
    height: auto;
}
.cover-success-text span{
   margin-left: 15px;
}
.upload-wrapper2.success .cover-success-text{
    opacity: 1;
    visibility: visible;
    transform: none;
}
.upload-wrapper2.success.uploaded .cover-success-text{
    opacity: 1;
    visibility: visible;
    transform: none;
}
.upload-wrapper2.success.uploaded .cover-success-text span{
    display: none;
}
.upload-wrapper2 .cover-success-text circle{
	  stroke-dasharray: 380;
    stroke-dashoffset: 380;
    transition: 1s linear all;
    transition-delay: 1.4s;
}
.upload-wrapper2.success .cover-success-text  circle {
	stroke-dashoffset: 0;
}
.upload-wrapper2 .cover-success-text polyline {
	stroke-dasharray: 380;
	stroke-dashoffset: 380;
	transition: 1s linear all;
	transition-delay: 2s;
}
.upload-wrapper2.success .cover-success-text polyline {
    stroke-dashoffset: 0;
}
.upload-wrapper2.success .cover-upload-text{
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.coverpic{
    padding-left: 15%;
}
[x-cloak] {
  display: none;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #333;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fba70b5c;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 93px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f4813fd8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f4813f75;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabs {
  font-family: "Poppins", sans-serif;
  display: flex;
  position: relative;
  margin: 15% auto 0;
  max-width: 720px;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #c23564;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

</style>

 


<footer id="contact-us">
    <div class="container">
        <div class="footer-content">
          
            <div class="row">
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                   
                    
                    {% if enc == 1 %}
                    <a href="{% static path %}" download> CLICK HERE TO DOWNLOAD THE ENCRYPTED FILE !!</a>
                    {% endif %}
                  
                    <div class="contact-form">
                      
                        <form id="contact" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                          
                            
                            
                           

                                <div style="text-align: center;">
                                    <!-- Tab items -->
                                    <div class="tabs">
                                        {% if tab == 1 %}
                                      <div class="tab-item active">     
                                        Encrypt
                                      </div>
                                      <div class="tab-item">
                                        
                                        Decrypt
                                      </div>
                                      {% else %}
                                      <div class="tab-item">     
                                        Encrypt
                                      </div>
                                      <div class="tab-item active">
                                        
                                        Decrypt
                                      </div>

                                      {% endif %}
                                      
                                      <div class="line"></div>
                                    </div>
                                  
                                    <!-- Tab content -->
                                    <div class="tab-content">

                                        {% if tab == 1 %}
                                      <div class="tab-pane active">
                                          {% else %}
                                          <div class="tab-pane">
                                          {% endif %}

                                        <div class="row">
                                            <div class="main-wrapper">
                                            
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Enter text to encrypt</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="100" name="enc_msg">
                                                        {% if hashed_string %}
                                                            {{ msg }}
                                                        {% endif %}

                                                    </textarea>
                                        
                                                  </div>

                                                  
                                            </div>
                                        </div>
                                          
                                          <br>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button class="main-button-slider" type="submit" name="encrypt">
                                                        Encrypt
                                                    </button>
                                                </fieldset>
                                            </div>
                                            {% if hashed_string %}
                                            <br><br>
                                                  <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Encrypted Text</label>
                                                    <textarea class="form-control" id="encryptedmsg" rows="20" cols="100" name="newmsg" readonly>
                                                        {% if hashed_string %}
                                                            {{ hashed_string }}
                                                        {% endif %}

                                                    </textarea>

                                                    <div class="btn" onclick="copy()">
                                                        Copy
                                                    </div>
                                        
                                                  </div>

                                                  <br> 
                                                  <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                  </div>
                                                  <br>
                                                  <button class="main-button-slider" type="submit" name="send_email">
                                                    Send Email
                                                </button>
                                                            
                                                        {% endif %}

                                      </div>



                                      {% if tab != 1 %}
                                      <div class="tab-pane active">
                                          {% else %}
                                          <div class="tab-pane">
                                          {% endif %}
                                        <div class="row">
                                            <div class="main-wrapper">
                                            
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Enter text to decrypt</label>
                                                    <textarea class="form-control"  rows="20" cols="100" name="dec_msg">
                                                        
                                                    {% if dec_string %}
                                                    {{ msg2 }}
                                                    {% endif %}
                                                    </textarea>
                                                  </div>
                                            </div>
                                        </div>
                                          
                                          <br>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button class="main-button-slider" type="submit" name="decrypt">
                                                        Decrypt
                                                    </button>
                                                </fieldset>
                                            </div>
                                                <br> <br>
                                            {% if dec_string %}
                                            <br><br>
                                                  <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Decrypted Text</label>
                                                    <textarea class="form-control" id="decmsg" rows="20" cols="100" readonly>
                                                            {{ dec_string }}

                                                    </textarea>

                                                    

                                                    <div class="btn" onclick="copy2()">
                                                        Copy
                                                    </div>
                                                     

                                        
                                                  </div>
                                                            
                                                        {% endif %}
                                      </div>
                                      
                                    </div>
                                  </div>

                            </div>
                         
                            

                        </form>
                    </div>
                
            
        
                <!-- ***** Contact Form End ***** -->
                <div class="right-content col-lg-6 col-md-12 col-sm-12">
                    <h2> Caeser Cipher </h2>
                    <p>Fill out this form to get started now!</p>
                        
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>Copyright &copy; Himali Saini

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

    <!-- jQuery -->
    <script src="{% static 'main/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/assets/js/popper.js' %}"></script>
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'main/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/assets/js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'main/assets/js/custom.js' %}"></script>
    <script>

function copy() {
  let textarea = document.getElementById("encryptedmsg");
  textarea.select();
  document.execCommand("copy");
  
}
function copy2() {
  let textarea = document.getElementById("decmsg");
  textarea.select();
  document.execCommand("copy");
  
}

const $ = document.querySelector.bind(document);
const $$ = document.querySelectorAll.bind(document);

const tabs = $$(".tab-item");
const panes = $$(".tab-pane");

const tabActive = $(".tab-item.active");
const line = $(".tabs .line");

line.style.left = tabActive.offsetLeft + "px";
line.style.width = tabActive.offsetWidth + "px";

tabs.forEach((tab, index) => {
  const pane = panes[index];

  tab.onclick = function () {
    $(".tab-item.active").classList.remove("active");
    $(".tab-pane.active").classList.remove("active");

    line.style.left = this.offsetLeft + "px";
    line.style.width = this.offsetWidth + "px";

    this.classList.add("active");
    pane.classList.add("active");
  };
});


      console.log("Step 1");
       $(document).ready(function(){
                    
            $('#upload-file').change(function() {
                var filename = $(this).val();
                console.log("Step 1");
                filename=filename.substring(12);
                $('#file-upload-name').html(filename);
                      
                console.log(filename);
                if(filename!=""){
                    setTimeout(function(){
                        $('.upload-wrapper').addClass("uploaded");
                    }, 600);
                    setTimeout(function(){
                        $('.upload-wrapper').removeClass("uploaded");
                        $('.upload-wrapper').addClass("success");
                    }, 1600);
                }
            });
        });
        $(document).ready(function(){
                    
                    $('#upload-cover').change(function() {
                        var filename = $(this).val();
                        console.log("Step 1");
                        filename=filename.substring(12);
                        $('#cover-upload-name').html(filename);
                              
                        console.log(filename);
                        if(filename!=""){
                            setTimeout(function(){
                                $('.upload-wrapper2').addClass("uploaded");
                            }, 600);
                            setTimeout(function(){
                                $('.upload-wrapper2').removeClass("uploaded");
                                $('.upload-wrapper2').addClass("success");
                            }, 1600);
                        }
                    });
                })
              function dropdown() {
                return {
                    options: [],
                    selected: [],
                    show: false,
                    open() { this.show = true },
                    close() { this.show = false },
                    isOpen() { return this.show === true },
                    select(index, event) {

                        if (!this.options[index].selected) {

                            this.options[index].selected = true;
                            this.options[index].element = event.target;
                            this.selected.push(index);

                        } else {
                            this.selected.splice(this.selected.lastIndexOf(index), 1);
                            this.options[index].selected = false
                        }
                    },
                    remove(index, option) {
                        this.options[option].selected = false;
                        this.selected.splice(index, 1);


                    },
                    loadOptions() {
                        const options = document.getElementById('select').options;
                        for (let i = 0; i < options.length; i++) {
                            this.options.push({
                                value: options[i].value,
                                text: options[i].innerText,
                                selected: options[i].getAttribute('selected') != null ? options[i].getAttribute('selected') : false
                            });
                        }


                    },
                    selectedValues(){
                        return this.selected.map((option)=>{
                            return this.options[option].value;
                        })
                    }
                }
            }
            function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


      </script>

      </body>
      </html>

